.PresentacionC{
    color: #fff;
    text-align: center;
    
  }
   
.conocimientop{
  color: #fff;
  text-align: center;

}

.imagenes-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.imagen {
  width: 500px; 
  height: auto; 
  padding: 50px;
  margin: 0 10px; 
  position: relative;
}

.imagen-nombre {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}


  

  

